## Core latex/pdflatex auxiliary files:
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.glsdefs
*.bcf
*.xml
# Latexmk
*.fdb_latexmk
# Sublime Text Project Files (usually contain absolute paths)
*.sublime-project
*.sublime-workspace

*.pdf 
build

*.DS_Store

